{% extends 'baseClient.html.twig' %}

{% block content %}
    <!-- BEGIN: .main-content -->
    <div class="main-content">
    <div class="table-users">
        <div class="header"><h4 style="font-weight: bold">Liste des Avertissement</h4></div>
        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <th>Source</th>
                <th>objet Avertissement</th>
                <th>desc Avertissement</th>
                <th>date Reclamation</th>
                </thead>
                {% for Avertissement in Rec %}
                    <tr>
                        <td>Admin</td>
                        <td>{{ Avertissement.objetAvertissement }}</td>
                        <td>{{ Avertissement.descAvertissement }}</td>
                        <td>{{ Avertissement.dateAvertissement }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}