{% extends 'base.html.twig' %}

{% block content %}
<div class="main-content">

    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="mini-widget">
                <div class="mini-widget-heading clearfix">
                    <div class="float-left">Sales</div>
                    <div class="float-right"><i class="icon-arrow-up-right2"></i> 12.2%</div>
                </div>
                <div class="mini-widget-body clearfix">
                    <div class="float-left">
                        <i class="icon-chart-pie"></i>
                    </div>
                    <div class="float-right number">8957</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="mini-widget red">
                <div class="mini-widget-heading clearfix">
                    <div class="float-left">Tweets</div>
                    <div class="float-right"><i class="icon-arrow-up-right2"></i> 18.3%</div>
                </div>
                <div class="mini-widget-body clearfix">
                    <div class="float-left">
                        <i class="icon-social-twitter"></i>
                    </div>
                    <div class="float-right number">3780</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="mini-widget grey">
                <div class="mini-widget-heading clearfix">
                    <div class="float-left">Visitors</div>
                    <div class="float-right"><i class="icon-arrow-down-right2"></i> 21.9%</div>
                </div>
                <div class="mini-widget-body clearfix">
                    <div class="float-left">
                        <i class="icon-eye2"></i>
                    </div>
                    <div class="float-right number">9670</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="mini-widget grey">
                <div class="mini-widget-heading clearfix">
                    <div class="float-left">Signups</div>
                    <div class="float-right"><i class="icon-arrow-up-right2"></i> 67%</div>
                </div>
                <div class="mini-widget-body clearfix">
                    <div class="float-left">
                        <i class="icon-cloud-storage"></i>
                    </div>
                    <div class="float-right number">1590</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    <!-- Row starts -->

    <!-- Row ends -->

    <!-- Row starts -->

    <!-- Row ends -->

    <!-- Row start -->

    <!-- Row end -->

    <!-- Row starts -->
</div>

{% endblock %}

