{% extends 'base.html.twig' %}
{% block content %}

<div class="results-header">Notifications:</div>
<!-- Search results header end -->

<div class="alert alert-danger" role="alert">
            <a >Bonne nouvelle :</a>

            <p class="desc">vous avez une reservations dont l'id est {{ id }} </p>
    <p class="desc">Consulter votre liste pour plus de details</p>

</div>

{% endblock %}